.nav{
background-color:black;
font-family: Georgia, 'Times New Roman', Times, serif;
}
.nav-link {
    color: #fb6161;
  }
.logo {
width: 70px;
height: 50px;
  }
.column {
    float: left;
    width: 50%;
  }
.hello {
  color: red;
  font-family: sans-serif;
  
}
.home {
  background-image: url("../images/bg.png");
  color: white;
  padding: 2vw;
  width: 100vw;
  min-height: 100vh;
  max-height: inherit;
  
}
.column {
  width: 50%;
}
.button {
  color:black;
  background-color: red;
}
.dp {
  height: 300px;
  width: 300px;
  max-width: 100vw;
}
.whatsapp{
  position: fixed;
    width: 60px;
    height: 60px;
    top: 50px;
    right: 50px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 40px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    
}
.linkedin{
  background-color: cadetblue;
  width: 40px;
    height: 40px;
    color: #FFF;
    border-radius: 40px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
  
}
.github {
  background-color: black;
  width: 40px;
  height: 40px;
  color: #FFF;
  border-radius: 40px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
}
.twitter{
  background-color: skyblue;
  width: 40px;
  height: 40px;
  color: #FFF;
  border-radius: 40px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
}
.facebook{
  background-color: slateblue;
  width: 40px;
  height: 40px;
  color: #FFF;
  border-radius: 40px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
}
.instagram{
  background-color: orange;
  width: 40px;
  height: 40px;
  color: #FFF;
  border-radius: 40px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
}