.App {
  text-align: center;
  background-color: rgb(20, 41, 41);
  height: 100vh;
}






@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.credits {
  background-color: black;
  color: red;

}
